* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    text-align: center;
}

section h1 {
    margin-top: 20px;
    margin-bottom: 40px;
}

.calculation-table {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 30px;
}

.left,.right {
    background-color: #f5e4c4;
    padding: 10px 20px;
}

form>input {
    padding: 5px 10px;
    outline: none;
    border: none;
    border-radius: 10px;
}

form>input[type=number] {
    width: 100px;
}

button {
    padding: 5px 20px;
    border: none;
    outline: none;
    border-radius: 5px;
}

ul {
    margin-top: 30px;
}

ul>li {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul>li>span>img {
    width: 20px;
    cursor: pointer;
    margin-left: 10px;
}

#reset {
    padding: 5px 25px;
    margin-top: 10px;
    background-color: rgb(219, 104, 104);
    border-radius: 5px;
    cursor: pointer;
    color: white;
}